src/main/mule/database/Cars.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="CarsInsertFlow" doc:id="26c82220-b983-4b72-a6db-c772c83057ff" >
		<db:insert doc:name="Insert" doc:id="b82474c3-13c9-4d6a-a29e-33265901909d" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO cars(brand,model,year,variant,primaryUsed,assetValue,policyId)
VALUES(:brand,:model,:year,:variant,:primaryUsed,:assetValue,:policyId)]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	brand: payload.brand,
	model: payload.model,
	year: payload.year,
	variant: payload.variant,
	primaryUsed: payload.primaryUsed,
	assetValue: payload.assetValue,
	policyId: payload.policyId
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
