src/main/mule/account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d61acac6-9b1d-4bba-8a66-17a5e6acfc15" >
		<db:my-sql-connection host="localhost" port="3306" user="admin" password="admin" database="insurancedb" />
	</db:config>
	<flow name="createUser" doc:id="dcf1bcde-1d3c-4ef1-943e-5b37796cea39" >
		<set-variable value="#[payload]" doc:name="Set Variable inpt" doc:id="b8a76e62-c147-40ec-b1b0-3ccd291dbc34" variableName="inpt" />
		<db:query-single doc:name="Query single" doc:id="f9a690da-2212-47b8-898a-3f1556d85e62" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from jobCategory where id = :jobCategoryId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{jobCategoryId: vars.inpt.jobCategoryId}]]]></db:input-parameters>
		</db:query-single>
		<ee:transform doc:name="Transform Message" doc:id="5b7dd994-049d-4e58-b301-30af654460f5" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="jobScore" ><![CDATA[%dw 2.0
output application/json
---
{score : payload.score}]]></ee:set-variable>
				<ee:set-variable variableName="birthdateSplit" ><![CDATA[%dw 2.0
import * from dw::core::Dates
output application/dw
---
vars.inpt.birthdate splitBy(/-/)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="ecf4f38a-964b-455f-8dde-6d59de93438d" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="ageScore" ><![CDATA[%dw 2.0
output application/json
var ageNow = 2022 - vars.birthdateSplit[0] as Number 
---
if ((18 <= ageNow) and ( ageNow <= 25 ))
	{score: 10}
else
if ((26 <= ageNow) and ( ageNow <= 36))
	{score: 9}
else
if ((36 <= ageNow) and ( ageNow <= 45))
	{score: 8}
else
if ((46 <= ageNow) and (ageNow <= 55))
	{score: 7}
else
if ((55 <= ageNow) and (ageNow <= 60))
	{score: 6}
else {score: 0}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[(vars.ageScore.score as Number+ vars.jobScore.score as Number)/ 2]" doc:name="Set Variable" doc:id="37fcce6d-62d4-4a5c-ba7c-334846fd770c" variableName="accountScore" />
		<ee:transform doc:name="Transform Message" doc:id="afb8392a-5a65-4b5c-9541-a129de8ce96f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="premiumMultiplier" ><![CDATA[%dw 2.0
output application/json
var accountScore = vars.accountScore as Number
---
if ((1 <= accountScore) and ( accountScore <= 3 ))
	{score: 0}
else
if ((4 <= accountScore) and ( accountScore <= 6))
	{score: 1.1}
else
if ((7 <= accountScore) and ( accountScore <= 8))
	{score: 1.2}
else
if ((8 < accountScore) and (accountScore <= 10))
	{score: 1.3}
else {score: 0}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="1f5fe40c-6dea-48ff-8208-9215b4da355d" config-ref="Database_Config" >
			<db:sql ><![CDATA[insert into 
	useraccount(acountType, firstName, lastName, nationality, address, username, password, contactNumber, insuranceWallet, birthdate, email, jobCategoryId, accountScore, premiumMultiplier)
	values (:acountType, :firstName, :lastName, :nationality, :address, :username, :password, :contactNumber, :insuranceWallet, :birthdate,
	:email, :jobCategoryId, :accountScore, :premiumMultiplier)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{acountType: "insurance", 
firstName: vars.inpt.firstName,
lastName: vars.inpt.lastName,
nationality: vars.inpt.nationality,
address: vars.inpt.address,
username: vars.inpt.username,
password: vars.inpt.password,
insuranceWallet: vars.inpt.deposit,
birthdate: vars.inpt.birthdate,
email: vars.inpt.email,
contactNumber: vars.inpt.contactNumber,
 jobCategoryId: vars.inpt.jobCategoryId,
 accountScore: vars.accountScore,
 premiumMultiplier: vars.premiumMultiplier.score
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#[output application/json ---&#10;{message:"Insurance Account Created"}]' doc:name="Set Payload" doc:id="edfd46a8-1938-4631-b226-e5d5c7d4a1bf" />
	</flow>
</mule>
