src/main/mule/insuranceco.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="insuranceco-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="insuranceco-config" api="insuranceco.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="insuranceco-main">
        <http:listener config-ref="insuranceco-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="insuranceco-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="insuranceco-console">
        <http:listener config-ref="insuranceco-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="insuranceco-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\account:insuranceco-config">
        <logger level="INFO" message="get:\account:insuranceco-config" />
    </flow>
    <flow name="get:\policies\hmo:insuranceco-config">
        <logger level="INFO" message="get:\policies\hmo:insuranceco-config" />
		<flow-ref doc:name="Flow Reference" doc:id="6141719d-7f82-4828-bc2e-5086fa3bf405" name="GetHMO"/>
    </flow>
    <flow name="get:\policies\travel\list:insuranceco-config">
        <logger level="INFO" message="get:\policies\travel\list:insuranceco-config" />
    </flow>
    <flow name="get:\policies\hmo\list:insuranceco-config">
        <logger level="INFO" message="get:\policies\hmo\list:insuranceco-config" />
		<ee:transform doc:name="Transform Message" doc:id="b15621fd-c225-47b7-af70-f0995209d582" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
{
	plan: "A",
	details: "Covid and Dengue Affordable Coverage",
	coverage: "P12,000",
	"monthly premium": "P350"
},
{
	plan: "B",
	details: "Hospitalisation Premium Coverage",
	coverage: "P120,000",
	"monthly premium": "P4000"
}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\policies\travel:insuranceco-config">
        <logger level="INFO" message="get:\policies\travel:insuranceco-config" />
    </flow>
    <flow name="get:\policies\car\(policyNumber)\claims:insuranceco-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="policyNumber">attributes.uriParams.'policyNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\policies\car\(policyNumber)\claims:insuranceco-config" />
    </flow>
    <flow name="get:\policies\retirement:insuranceco-config">
        <logger level="INFO" message="get:\policies\retirement:insuranceco-config" />
    </flow>
    <flow name="get:\policies:insuranceco-config">
        <logger level="INFO" message="get:\policies:insuranceco-config" />
    </flow>
    <flow name="get:\policies\car:insuranceco-config">
        <logger level="INFO" message="get:\policies\car:insuranceco-config" />
    </flow>
    <flow name="post:\account:application\json:insuranceco-config">
        <logger level="INFO" message="post:\account:application\json:insuranceco-config" />
        <flow-ref doc:name="Flow Reference" doc:id="c8afee46-507c-4a09-9ce4-c2b23dd50317" name="createUser" />
    </flow>
    <flow name="post:\policies\car\claims:application\json:insuranceco-config">
        <flow-ref doc:name="Flow Reference" doc:id="ecda4db2-0f14-42e6-b1f3-1e31054172b5" name="ClaimsFlow" />
        <ee:transform doc:name="Transform Message" doc:id="198aba85-8907-42fa-8aa9-f1f29ceff86c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	data: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\login:application\json:insuranceco-config">
        <logger level="INFO" message="post:\login:application\json:insuranceco-config" />
        <flow-ref doc:name="Flow Reference" doc:id="0e1100d0-0302-46f2-afaa-f6c086456204" name="Login" />
    </flow>
    <flow name="post:\policies\travel\subscribe:application\json:insuranceco-config">
        <logger level="INFO" message="post:\policies\travel\subscribe:application\json:insuranceco-config" />
    </flow>
    <flow name="post:\policies\hmo\subscribe:application\json:insuranceco-config">
        <logger level="INFO" message="post:\policies\hmo\subscribe:application\json:insuranceco-config" />
		<flow-ref doc:name="Flow Reference" doc:id="8075efe3-f65e-422a-bf6e-92b27ef4ae46" name="createHMOplan"/>
    </flow>
    <flow name="post:\policies\travel:application\json:insuranceco-config">
        <logger level="INFO" message="post:\policies\travel:application\json:insuranceco-config" />
    </flow>
    <flow name="post:\policies\retirement\claim:application\json:insuranceco-config">
        <logger level="INFO" message="post:\policies\retirement\claim:application\json:insuranceco-config" />
        <flow-ref doc:name="Flow Reference" doc:id="e8f46f0d-ef1a-464b-a186-9525aedede89" name="claim" />
    </flow>
    <flow name="post:\policies\retirement:multipart\form-data:insuranceco-config">
        <logger level="INFO" message="post:\policies\retirement:multipart\form-data:insuranceco-config" />
        <flow-ref doc:name="Flow Reference" doc:id="553257eb-59bf-4a53-816d-d912cf8f2421" name="createRetirementPolicy1" />
    </flow>
    <flow name="post:\policies\car:insuranceco-config">
        <flow-ref doc:name="Flow Reference" doc:id="60173ebb-4dd2-4d4b-9efa-cf532fb90af0" name="CreateCarPolicyFlow" />
        <ee:transform doc:name="Transform Message" doc:id="1716f833-0ded-4b48-ba27-4865abe7ef5c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	data: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\policies\car\quote:application\json:insuranceco-config">
        <flow-ref doc:name="Flow Reference" doc:id="3a9cd834-affc-4d8f-9748-51077d68d397" name="CarUnderwritingFlow" />
        <logger level="INFO" message="post:\policies\car\quote:application\json:insuranceco-config" />
    </flow>
    <flow name="post:\policies\car:application\json:insuranceco-config">
        <logger level="INFO" message="post:\policies\car:application\json:insuranceco-config" />
        <ee:transform doc:name="Transform Message" doc:id="0c75cfe0-27a8-44d2-b474-4330544848b6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	data: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\policies\car\payments:application\json:insuranceco-config">
        <flow-ref doc:name="Flow Reference" doc:id="f182980d-1a5c-462f-9d57-5f77d297df82" name="CarPaymentFlow" />
        <ee:transform doc:name="Transform Message" doc:id="36fc4286-0cbd-4f70-9c88-8ce003b9d19d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	data: payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
